.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Carousel dark indicators */
/* Add an extra .carousel parent class to increase specifity
   avoiding the use of !important flag. */
   .container{

   }
   .text{
    color: #ffffff;
    background-color: #ffffff;
   }
   .carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70,70,70,.25);
  }
  
  .carousel .carousel-indicators .active {
    background-color: #444;
  }
  
  /* Only for beautify example */
  h1 {
    margin: 60px auto;
    text-align: center;
  }
  
  img {
    width: 100%;
  }